@model IEnumerable<BusinessObject.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Royalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ytd_sales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pub_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Royalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ytd_sales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pub_id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { book_id=item.Book_id }) |
                @Html.ActionLink("Delete", "DeleteBook", new { book_id=item.Book_id })
            </td>
        </tr>
}
    </tbody>
</table>
